* {
    font-family: Roboto,sans-serif;
  }

body{
    font-family: Roboto,sans-serif;
    background-color: #fff;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.btn{
    padding: 16px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #414141;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    transition: opacity .2s ease;
    letter-spacing: 0;
    background-color: transparent;
}

.btn:hover {
    border-color: #fff;
}

.top_bar{
    border: 1px #000;
    padding: 10px;
    background-color: #363133;
    text-align: center;
    position: fixed;
    bottom: auto;
    z-index: 999;
    width: 100%;

}

.top_bar  .fa{
    font-size: 15px;
    border-color: #fff;
    color: #fff;
    text-decoration: none;
}

.top_bar .fa:hover{
    color: #30bec1;
}

.top_bar .support_contact a:hover{
    color: #30bec1;
}

.top_bar .social_icons .fa{
    padding-left: 5px;
}

.top_bar span a{
    color: #FFF;
}

.header_section{
    height: 100vh;
    display: block;
    position: relative;
    background-image: url("../assets/header_card_machines.jpg");
    background-size: cover, auto;
    background-position: center;
}

/* start of rename */

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.container_for_hero, .hero_section {
    -webkit-box-orient: horizontal;
    height: 100vh;
}

.container_for_hero {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.container_machines {
    width: 50%;
    min-height: 100px;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* end of rename */

.header_section .link_logo {
    display: inline-block;
    margin-bottom: 60px;
}

.header_section .link_logo:hover {
    opacity: .6;
}

.header_section .h1cardheading {
    color: #fff;
    margin-top: 0;
    font-family: Roboto,sans-serif;
    font-size: 38px;
    line-height: 36px;
    font-weight: 500;
}

.header_section .yellowh1.landing_span {
    font-size: 28px;
    line-height: 36px;
    color: #ffcd00;
}

.header_section .headerparagraph { 
    max-width: 85%;
    margin-bottom: 20px;
    display: block;
    margin-top: 20px;
    font-family: Roboto,sans-serif;
    color: #ececec;
    font-weight: 400;
}

.taglinecontentwrapper {
    position: relative;
    z-index: 9999;
    height: auto;
    margin-top: 0;
    margin-bottom: 28px;
    margin-left: 0;

}

.tagline {
    display: inline-block;
    margin-top: auto;
    color: #888;
    font-size: 14px;
}

.taglinecontentwrapper .taglinecontent{
	animation: fadeEffect 15.5s linear infinite 0s;
	-ms-animation: fadeEffect 15.5s linear infinite 0s;
	-webkit-animation: fadeEffect 15.5s linear infinite 0s;
	color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.taglinecontentwrapper #taglineContent-2 {
	animation-delay: 5.5s;
	-ms-animation-delay: 5.5s;
	-webkit-animation-delay: 5.5s;
}
.taglinecontentwrapper #taglineContent-3 {
	animation-delay: 8.5s;
	-ms-animation-delay: 8.5s;
	-webkit-animation-delay: 8.5s;
}

.taglinecontentwrapper #taglineContent-4 {
	animation-delay: 11.5s;
	-ms-animation-delay: 11.5s;
	-webkit-animation-delay: 11.5s;
}

#taglineContent-1 .fa{
    color: #ffcd00;
}

@-moz-keyframes fadeEffect {
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect {
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect {
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.header_section .div_get_card{
  margin-top: 60px;
}

.header_section .div_get_card .choose_card{
    display: inline-block;
    color: #fff;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.header_section .div_get_card .btn.btncallback{
    display: inline-block;
    border-style: none;
    border-color: #ffcd00;
    color: #ffcd00;
}

.header_section .div_get_card .btn.btncallback:hover {
    color: #30bec1;
}

.visa_logo {
    left: 0;
    top: auto;
    right: auto;
    bottom: 0;
    display: block;
    margin-top: 40px;
    margin-bottom: 0;
    opacity: .27;
}

.homepage_section{
    background-color: #f7f7f7;
    margin-top: 0;
    padding-top: 0;
}

.all{
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.homepage_section .col_printer{
    text-align: center;
}

.priceblock {
    padding-top: 70px;
    border: 1px #000;
    color: #a1a1a1;
    font-weight: 400;
    text-align: left;
}

.readername {
    color: #585858;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.striked {
    text-decoration: line-through;
}

.newprice {
    display: block;
    color: #ec008c;
    font-size: 15px;
    font-weight: 700;
}

.buynow {
    max-width: 120px;
    min-width: 100px;
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
    color: #000;
    font-weight: 900;
    background-color: #fc0;
    text-align: center;
    opacity: 1;
}

.buynow:hover{
    opacity: .7;
    cursor: pointer;
}

.product_icons span{
    font-size: 20px;
    color: #d8d8d8;
}

.tap_icon {
    margin-bottom: 10px;
    text-align: center;
}

.viewmorereader {
    position: relative;
    width: auto;
    max-width: none;
    margin: 0 auto 20px;
    padding: 0 0 0 10px;
    border: 1px #000;
    border-radius: 0;
    background-color: transparent;
    color: #fc0;
    font-size: 14px;
    font-weight: 500;
}

.viewmorereader:hover {
    color: #30bec1;
    text-decoration: none;
}

.overlapping_logo {
    left: 15%;
    top: 20%;
    right: auto;
    position: absolute;
    bottom: auto;
}

.keeptextincheck{
    max-width: 500px;
    position: relative;
    float: left;
}

.h2{
    margin-top: 0;
    margin-bottom: 30px;
    padding-bottom: 27px;
    background-image: url("../assets/ikhokha.sep.png");
    background-position: 0 100%;
    background-size: 125px;
    color: #363133;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
}

